<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head-1.ejs') %>   

<!-- aca se inserta la hoja de estilo correspondiente a la vista -->
<link rel="stylesheet" href="/css/carrito.css">

<%- include('../partials/head-2.ejs') %>

   
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="carrito"> 
            <section class="carrito__formulario"> 

                <div class= "carrito__casilla">
                    <p class="carrito__casilla-info"> Cart In Development</p>
                </div>

            </section>
        </section>
    </main>
</body>

</html>

