<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head-1.ejs') %>   

<!-- aca se inserta la hoja de estilo correspondiente a la vista -->
<link rel="stylesheet" href="/css/cart.css">

<%- include('../partials/head-2.ejs') %>

    
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <section class="contenedor"> 
                <section class="carrito-items"> 
                    <article class="carrito-items__navbar">
                        <div class="carrito-items__navbar-left">
                            <h3>Cart</h3>
                            <span>(cantidad)</span>
                        </div>
                       <button class="button-clear"> Clear cart</button>
                    </article>

                    
                    <section class="carrito-items__products">

                        <article class="carrito-items__products-titles">
                            <div class="pendejo">
                                <span>Products</span> 
                                <div class="carrito-items__products-left">
                                    <span class="oculto">Titulo producto</span>  
                                    <span class="oculto">Subtitulo </span>
                                </div>
                             </div>
                            <span class="carrito-items__products-extra"> Count</span>
                            <span class="carrito-items__products-extra">Price</span>
                            <span class="oculto">delete</span>
                        </article>


                        <article class="carrito-items__products-indv">
                            <div class="pendejo">
                                <span><img src="/Images/Foto3.jpg" alt="Descripción opcional"></span>
                                <div class="carrito-items__products-titulo">
                                    <span>Titulo producto</span>  
                                    <span>Subtitulo </span>
                                </div>
                             </div>
                            <span class="carrito-items__products-span"> <button class="button"> - </button> <span class="numero"> 1 </span> <button class="button"> +</button> </span>
                            <span class="carrito-items__products-span"> $2000</span>
                            <span class="carrito-items__products-delete"> <button class="button-delete"> ╳ </button></span>
                        </article>
                                            
                    </section>
                    

                </section>

                <section class="carrito-pagos"> 


                    
                </section>

            </section>
        </main>
    </body>
    
    </html>

