<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head-1.ejs') %>   

<!-- aca se inserta la hoja de estilo correspondiente a la vista -->
<link rel="stylesheet" href="/css/cart.css">

<%- include('../partials/head-2.ejs') %>

    
    <body>
        <article%- include('../partials/header.ejs') %>
        <main>
            <section class="contenedor"> 
                <section class="carrito-items"> 
                    <article class="carrito-items__navbar">
                        <div class="carrito-items__navbar-left">
                            <h3>Cart</h3>
                            <p>(cantidad)</p>
                        </div>
                       <button> Clear cart</button>
                    </article>

                    <article class="carrito-items__titles">
                        <h3>Product</h3>
                        <h3>Count</h3>
                        <h3>Price</h3>
                        
                    </article>
                    

                </section>

                <section class="carrito-pagos"> 


                    
                </section>

            </section>
        </main>
    </body>
    
    </html>

