<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto | DH Records</title>
    <link rel="stylesheet" href="/css/edit-product-copy.css">
</head>
<body>
    <form action="/products/" method="POST" enctype="multipart/form-data"> 
        <h1>Crear un producto nuevo</h1>
        
        <label for="titulo">Titulo:</label>
        <input type="text" id="titulo" name="titulo" value="" required> 
        
        <label for="genero">Género:</label>
        <select id="genero" name="genero" required>
            <option value="" disabled selected>Seleccione un género</option>
            <% genres.forEach(function(genre) { %>
                <option value="<%= genre.id %>"><%= genre.nombre %></option>
            <% }); %>
        </select>
        <a href="/#"><label>no encontras el Género? agregalo a la lista</label></a>

        <label for="descripcion">Description:</label>
        <textarea id="descripcion" name="descripcion" rows="4" required></textarea> 

        <label for="autor">Autor:</label>
        <select id="autor" name="autor" required>
            <option value="" disabled selected>Seleccione un autor</option>
            <% authors.forEach(function(author) { %>
                <option value="<%= author.id %>"><%= author.nombre %></option>
            <% }); %>
        </select>
        <a href="/#"><label>no encontras el Autor? agregalo a la lista</label></a>
        
        <label for="precioCosto">Precio Costo:</label>
        <input type="number" id="precioCosto" name="precioCosto" step="0.01" value="" required> 

        <label for="precioVenta">Precio de venta:</label>
        <input type="number" id="precioVenta" name="precioVenta" step="0.01" value="" required> 
        
        <label for="imagen">Imagen de portada:</label>
        <input type="file" id="imagen" name="imagen" required> 

        <label for="releaseDate">Fecha de lanzamiento:</label>
        <input type="date" id="releaseDate" name="releaseDate   " required>

        <label for="estilo">Estilo:</label>
        <input type="text" id="estilo" name="estilo" value="" required> 
        

        <!-- Contenedor de botones -->
        <div class="botones-container">

            <button type="submit">Guardar Cambios</button>

        </div>
    </form>
</body>
</html>


