
<!DOCTYPE html>
<html lang="es">
<head>

    <link rel="stylesheet" href="/css/footerProducts.css">

  
</head>

<body>
    <footer class="footer">
        <section class="top-footer">
            <article class="navbar-footer">
                <ul class="link-footer">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </article>
    
            <article class="redes-sociales">
                <h2 class="tittle-footer">Our Networks</h2>
                <div class="social-icons">
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </article>
        </section>
    
        <section class="separator">
        </section>
        
        <section class="footer-enlaces">
            <article class="footer-enlaces-izq">
                <p >© 2023 DH Records</p>
             </article>
            <article class="footer-enlaces-derecha">
                <p>Privacity Policy</p>
                <p>Terms and Conditions</p>
                <p>Cookies Settings</p>
            </article>
        </section>
    </footer>

</body>


