<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="\css\new-product.css" rel="stylesheet">
    <link href="\css\home.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <title>Seccion  productos en carrito</title>
</head>
<body>

        <main class="main">
            <div class="contenedor-general">

                <h2>Crear Nuevo Producto</h1>

                <form class="form-general" action="/create-product" method="POST">
                    <div class="form-section">
                        <section class="section-izquierda">
                            <div>
                                <label class="label-general" for="id">Codigo o ID: </label>
                                <input class="input-general" type="text" id="code" name="code">
                            </div>
                            
                            <div>
                                <label class="label-general" for="name">Nombre del disco: </label>
                                <input class="input-general" type="text" id="name" name="name" required>
                            </div>
                            
                            <div>
                                <label class="label-general" for="genere">Género: </label>
                                <input class="input-general" type="text" id="genere" name="genere" required>
                            </div>
        
                            <div>
                                <label class="label-general" for="author">Autor: </label>
                                <input class="input-general" type="text" id="author" name="author" required>
                            </div>
                
                            <div>
                                <label class="label-general" for="discography">Discografía: </label>
                                <input class="input-general" type="number" id="discography" name="discography" required>
                            </div>
                            
                            <div>
                                <label class="label-general" for="description">Descripción: </label>
                                <textarea class="input-general" id="description" name="description" rows="4" required></textarea>
                            </div>
                            
                        </section>
    
                        <section class="section-derecha">
                            <div>
                                <label class="label-general" for="price">Precio ($): </label>
                                <input class="input-general" type="number" id="price" name="price" required>
                            </div>
            
                            <div>
                                <label class="label-general" for="stock">Cantidad en Stock: </label>                          
                                <input class="input-general" type="number" id="stock" name="stock" required>
                            </div>
                
                            <label class="label-general" for="image">Imagen: </label>
                            <input class="input-general" type="file" id="image" name="image" accept="jpg, npg" required>
                            <img id="imagePreview" src="#" alt="Vista previa de la imagen" style="max-width: 200px; display: none;">
                            
                        </section>
                    </div>
                
                    <button class="boton-general" type="submit">Crear Producto</button>

                </form>
            </div>
        </main>
            
</body>
</html>