<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head-1.ejs') %> 
    <link href="\css\new-product.css" rel="stylesheet">
    <%- include('../partials/head-2.ejs') %>
    <title>Seccion  productos en carrito</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="contenedor-general-home">

        <main class="main">
            <div class="contenedor-general">

                <h2>Create New Product</h1>

                <form class="form-general" action="/create-product" method="POST">
                    <div class="form-section">
                        <section class="section-izquierda">
                            <div>
                                <label class="label-general" for="id">Code or ID: </label>
                                <input class="input-general" type="text" id="code" name="code">
                            </div>
                            
                            <div>
                                <label class="label-general" for="name">Disk name: </label>
                                <input class="input-general" type="text" id="name" name="name" required>
                            </div>
                            
                            <div>
                                <label class="label-general" for="genere">Gender: </label>
                                <input class="input-general" type="text" id="genere" name="genere" required>
                            </div>
        
                            <div>
                                <label class="label-general" for="author">Author: </label>
                                <input class="input-general" type="text" id="author" name="author" required>
                            </div>
                
                            <div>
                                <label class="label-general" for="discography">Record Label: </label>
                                <input class="input-general" type="number" id="discography" name="discography" required>
                            </div>
                            
                            <div>
                                <label class="label-general" for="description">Description: </label>
                                <textarea class="input-general" id="description" name="description" rows="4" required></textarea>
                            </div>
                            
                        </section>
    
                        <section class="section-derecha">
                            <div>
                                <label class="label-general" for="price">Price ($): </label>
                                <input class="input-general" type="number" id="price" name="price" required>
                            </div>
            
                            <div>
                                <label class="label-general" for="stock">Stock quantity: </label>                          
                                <input class="input-general" type="number" id="stock" name="stock" required>
                            </div>
                
                            <label class="label-general" for="image">Image: </label>
                            <input class="input-general" type="file" id="image" name="image" accept="jpg, npg" required>
                            <img id="imagePreview" src="#" alt="Vista previa de la imagen" style="max-width: 200px; display: none;">
                            
                        </section>
                    </div>
                
                    <button class="boton-general" type="submit">Create product</button>

                </form>
            </div>
        </main>
            
        <footer class="footer">
            <div class="navbar-footer">
                <nav>
                    <ul class="link-footer">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </nav>
            </div>
            <div class="redes-sociales">
                <h2>Our Networks</h2>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </footer>
    </div>
</body>
</html>