<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/product-detail.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <title>Product Detail</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h2> Detalle del Producto </h2>
        <section class="producto">
                <div class="viniloimg1">
                    <img src="Imagenes/Vinilo1.png" alt="Vinilo1">
                </div>
                <div class="vinilo">
                    <h4 class="titulovinilo">Titulo: Snips</h4>
                    <p class="cantantevinilo">Grupo: Snips </p>
                    <p class="aniovinilo">Año: 1980 </p>
                    <p class="generovinilo">Genero: Rock </p>
                    <p class="stylevinilo">Estilo: New Wave/Pop Rock/Power Pop</p>
                    <p class="calificaciónvinilo">Calificación: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </p>     
                </div>
                <div class="canciones">
                    <h4 class="titulocanciones">Canciones</h4>
                    <ol type="A">
                        <li>9 O'Clock</li>
                        <li>What's Your Number</li>
                    </ol> 
                </div>
                <div class="precio">
                    <h4 class="tituloprecio">Precio</h4>
                    <p class="preciovinilo">$123</p>
                    <p class="agregarcarrito">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></p> </div> 
        </section>
        <section class="sugerencias">
            <div class="sugerenciastitulo">
                <h3>Sugerencias segun tu busqueda</h3>
            </div>
            <br>
            <div class="viniloimg2">
                <img src="Imagenes/Vinilo2.png" alt="Vinilo2">
            </div>
            <div class="viniloimg2">
                <img src="Imagenes/Vinilo3.png" alt="Vinilo3">
            </div>
            <div class="viniloimg2">
                <img src="Imagenes/Vinilo4.png" alt="Vinilo4">
            </div>
         </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
    
</html>