<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head-1.ejs') %>   

<!-- aca se inserta la hoja de estilo correspondiente a la vista -->
<link href="/css/product-detail.css" rel="stylesheet">

<%- include('../partials/head-2.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>
    
    <main>
        <h2 class="titulo_principal"> Detalle del Producto </h2>
        <section class="producto">
                <div class="vinilo__img1">
                    <img src="/imagenes/Vinilo1.png" alt="Vinilo1">
                </div>
                <div class="vinilo">
                    <h4 class="titulo__vinilo">Titulo: Snips</h4>
                    <p>Grupo: Snips </p>
                    <p>Año: 1980 </p>
                    <p>Genero: Rock </p>
                    <p>Estilo: New Wave/Pop Rock/Power Pop</p>
                    <p>Calificación: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </p>     
                </div>
                <div class="canciones">
                    <h4 class="titulo__canciones">Canciones</h4>
                    <ol type="A">
                        <li>9 O'Clock</li>
                        <li>What's Your Number</li>
                    </ol> 
                </div>
                <div class="precio">
                    <h4 class="titulo__precio">Precio</h4>
                    <p class="num__precio">$123</p>
                    <p class="agregar__carrito">
                        <a href="/products/carrito">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </p>
                </div> 
        </section>
        <section class="sugerencias">
            <div class="sugerencias__titulo">
                <h3>Sugerencias segun tu busqueda</h3>
            </div>
            <br>
            <div class="vinilo__img2">
                <img src="/imagenes/Vinilo2.png" alt="Vinilo2">
            </div>
            <div class="vinilo__img2">
                <img src="/imagenes/Vinilo3.png" alt="Vinilo3">
            </div>
            <div class="vinilo__img2">
                <img src="/imagenes/Vinilo4.png" alt="Vinilo4">
            </div>
         </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
    
</html>