<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/lista-productos.css">
    <script src="https://kit.fontawesome.com/986ef756a5.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />

    <title>Lista de Productos</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    
    <main>
        <h1>Lista de Productos</h1>

        <section class="productos__seccion">
                
        <article class="productos__articulo">
            <a href="/products/product-detail">
                <img src="/imagenes/Vinilo1.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> Poul Weller </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </a>
        </article>

        <article class="productos__articulo">
            <a href="/products/product-detail">
                <img src="/imagenes/Vinilo2.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> Poul Keane </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </a>
        </article>

        <article class="productos__articulo">
            <a href="/products/product-detail">
                <img src="/imagenes/Vinilo3.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> AC/DC </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </a>
        </article>

        <article class="productos__articulo">
            <a href="/products/product-detail">
                <img src="/imagenes/Vinilo4.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> INXS </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </a>
        </article>

        <article class="productos__articulo">
            <a href="/products/product-detail">
                <img src="/imagenes/Vinilo1.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> Bernie Taupin </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </a>
        </article>

        <article class="productos__articulo">
            <a href="/products/product-detail">
                <img src="/imagenes/Vinilo2.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> Thin Lizzy </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </a>
        </article>
        
    </section>


    <section class="productos__section-boton">
        <form action="/" method="post">
            <div class="productos__botonPadre">
                <button class="productos__boton" type="submit" value="Ver Mas Productos"> Ver Mas Productos </button>
            </div>
          </form>
    </section>
    </main>
    
    <%- include('../partials/footer.ejs') %>

   
</body>
</html>

