
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/grupo_3_DH-Records/public/banner-promociones.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <header>

        <section class="slider">
           
                <img src="/grupo_3_DH-Records/design/jamakassi-wejxKZ-9IZg-unsplash.jpg" alt="Descripción de la imagen 1" class="banner__img">
            
                <img src="/grupo_3_DH-Records/design/clay-banks-fEVaiLwWvlU-unsplash.jpg" alt="Descripción de la imagen 2" class="banner__img">
            
                <img src="/grupo_3_DH-Records/design/samuel-regan-asante-5j7nQv-jaVM-unsplash.jpg" alt="Descripción de la imagen 3" class="banner__img">
           
                <img src="/grupo_3_DH-Records/design/jonas-leupe-P7kcWEYy4n8-unsplash.jpg" alt="Descripción de la imagen 4" class="banner__img">
           
                <img src="/grupo_3_DH-Records/design/travis-yewell-F-B7kWlkxDQ-unsplash.jpg" alt="Descripción de la imagen 5" class="banner__img">
            
        </section>


    </header>


</body>
</html>