<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="\css\carrito.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <title>Seccion  productos en carrito</title>
</head>
<body>
    <main>
        <h1>Descripción</h1>
        <table>
            <thead>
                <tr>  
                    <th></th>
                    <th>Producto en carrito</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="icono_basura"><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    <td>
                        <div class="desc_producto">
                            <img src="\imagenes\Vinilo1.png" alt="Vinilo1">
                            <div class="info_producto">
                                <p class="nombre_producto">Titulo: Snips</p>
                                <p class="precio_producto">Precio:$123</p>
                                <p></p>
                            </div>
                        </div>
                    </td>
                    <td class="cantidad">
                        <div class="cantidad-buttons">
                          <button onclick="decrement(this)">-</button>
                          <span class="cantidad-value">1</span>
                          <button onclick="increment(this)">+</button>
                        </div>
                    </td>
                    <td class="precio">12345$</td>
                </tr>
                <tr>
                    <td class="icono_basura"><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    <td>
                        <div class="desc_producto">
                            <img src="\imagenes\Vinilo2.png" alt="Vinilo2">
                            <div class="info_producto">
                                <p class="nombre_producto">Titulo: N/A</p>
                                <p class="precio_producto">Precio:$123</p>
                            </div>
                        </div>
                    </td>
                    <td class="cantidad">
                        <div class="cantidad-buttons">
                          <button onclick="decrement(this)">-</button>
                          <span class="cantidad-value">1</span>
                          <button onclick="increment(this)">+</button>
                        </div>
                    </td>
                    <td>12345$</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><button class="compra" type="submit">Comprar</button></td>
                    <td>Total:123124</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>