<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Proyecto Temporal/public/css/carrito.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <title>Carrito</title>
</head>
<body>
    <main>
        <h2>Descripción</h2>
    <div class= "titulos-carrito"> 
        <h3>Productos en carrito</h3>
        <h3>Cantidad</h3>
        <h3>Precio</h3>
    </div>
    <section>
        <article>
            <div class="producto">
                <img src = "imagenes/Vinilo1.png" alt = "Vinilo1">
            </div>
            <div class="contenedor-producto">
                <i class="fa-regular fa-trash-can"></i>
            <br>
                <p class="Nombre del Producto">Snips</p>
            <br>
                <p class="Precio">$12345</p>
            </div>
        </article> 
        <br>
        <article class = producto>
            <div class="producto">
                <img src = "imagenes/Vinilo2.png" alt = "Vinilo2">
                <br>
            <div>
             <div class="Eliminar">
                <i class="fa-regular fa-trash-can"></i>
            <p class="Nombre del Producto">XTC</p>
            <br>
                <p class="Precio">$12345</p>

    </main>
</body>
</html>