<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DHRecords</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <nav>
            <img src="\images\logo.jpeg" alt="">
            <p>logo</p>
        </nav>
    </header>
    <main>
        <div>
        <a href="">volver</a>
            <a href="" class="crear-cuenta">crear cuenta</a>
            <section >
        
            <div class="cuenta-inexistente">
                <div class="imagen">
                    <img src="https://picsum.photos/id/237/200/300" alt=""><p>foto de perfil</p>
                </div>
                <p>nombre</p>
                <input type="text">
                <p>contraseña</p>
                <input type="text">
                <button id="miBoton" class="boton-estilo" onclick="alert('¡Hola Mundo!')">confirmar</button>
            </div >
        </section>

        <section class="featured-products">
            <p>ya tienes cuenta?<a href="">conectate</a></p>

        </section>

    </main>
    <footer>

    </footer>
</body>
</html>