<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/grupo_3_DH-Records/public/css/home.css" rel="stylesheet">
    <title>DHRecords</title>
   
</head>
<body>
    <header>
        <nav>


        </nav>
    </header>

    
    <main>
        <section class="banner">
            <img src="/grupo_3_DH-Records/public/Imagenes/Foto3.jpg" alt="Descripción de la imagen 3" class="banner__img">
            <img src="/grupo_3_DH-Records/public/Imagenes/Foto18.jpg" alt="Descripción de la imagen 18" class="banner__img">
            <img src="/grupo_3_DH-Records/public/Imagenes/Foto1.jpg " alt="Descripción de la imagen 1" class="banner__img">
            <img src="/grupo_3_DH-Records/public/Imagenes/Foto7.jpg " alt="Descripción de la imagen 7" class="banner__img">
            <img src="/grupo_3_DH-Records/public/Imagenes/Foto9.jpg" alt="Descripción de la imagen 9" class="banner__img">
            <img src="/grupo_3_DH-Records/public/Imagenes/Foto5.jpg" alt="Descripción de la imagen 5" class="banner__img">
            <img src="/grupo_3_DH-Records/public/Imagenes/Foto4.jpg" alt="Descripción de la imagen 4" class="banner__img">
            <img src="/grupo_3_DH-Records/public/Imagenes/Foto15.jpg" alt="Descripción de la imagen 15" class="banner__img">
            <img src="/grupo_3_DH-Records/public/Imagenes/Foto12.jpg" alt="Descripción de la imagen 12" class="banner__img">
            <img src="/grupo_3_DH-Records/public/Imagenes/Foto17.jpg" alt="Descripción de la imagen 17" class="banner__img">
            <img src="/grupo_3_DH-Records/public/Imagenes/Foto14.jpg" alt="Descripción de la imagen 14" class="banner__img">
        </section>

        

    </main>

    

    <footer>


    </footer>
</body>
</html>
