<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/grupo_3_DH-Records/public/css/home.css" rel="stylesheet">
    <title>DHRecords</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/986ef756a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="contenedor-general-home">
        <header class="header contenedor-general-tarjeta">
            <div class="header__contenedor-img-logo">
                <img src="/imagenes/Logo.jpg" alt="logo" class="header__img-logo">
            </div>
            <nav class="header__navbar">
                <div class="header__barra-superior">
                    <section class="barra-superior__sec-buscar-productos">
                        <input 
                            type="text" placeholder="Buscar productos, marcas..." 
                            class="sec-buscar-productos__input"
                        >
                        <button class="top-bar__sec-buscar-productos__btn-buscar">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </section>
    
                    <section class="barra-superior__sec-login">
                        <p class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Carrito </a></p>
                        <p class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Login </a></p>
                        <p class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Sing-up </a></p>
                    </section>
                    
    
    
                </div>
                <div class="header__barra-inferior">
                    <div class="header__burger-menu">
                        <i class="fa-solid fa-bars"></i>
                    </div>
    
                    <ul class="header__sec-lista-opciones">
                        <li class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Ofertas </a></li>
                        <li class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Destacados </a></li>
                        <li class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Productos </a></li>      
                    </ul>
                </div>
            </nav>
        </header>
    
        
        <main>
            <section class="banner">
                <img src="/imagenes/Foto3.jpg" alt="Descripción de la imagen 3" class="banner__img">
                <img src="/imagenes/Foto1.jpg " alt="Descripción de la imagen 1" class="banner__img">
                <img src="/imagenes/Foto9.jpg" alt="Descripción de la imagen 9" class="banner__img">
                <img src="/imagenes/Foto5.jpg" alt="Descripción de la imagen 5" class="banner__img">
                <img src="/imagenes/Foto4.jpg" alt="Descripción de la imagen 4" class="banner__img">
                <img src="/imagenes/Foto17.jpg" alt="Descripción de la imagen 15" class="banner__img">
                <img src="/imagenes/Foto14.jpg" alt="Descripción de la imagen 14" class="banner__img">
            </section>
    
           
            <h2> Más Vendidos</h2>
    
            <section class="productos__seccion">
                
                <article class="productos__articulo">
                    <img src="/imagenes/Vinilo1.png" class="productos__img">
                        <div class="productos__info">
                            <p class="productos__descripcion"> Poul Weller </p>
                            <p class="productos__precio"> $5.000 </p>     
                        </div>
                </article>
    
                <article class="productos__articulo">
                    <img src="/imagenes/Vinilo2.png" class="productos__img">
                        <div class="productos__info">
                            <p class="productos__descripcion"> Poul Keane </p>
                            <p class="productos__precio"> $5.000 </p>     
                        </div>
                </article>
    
                <article class="productos__articulo">
                    <img src="/imagenes/Vinilo3.png" class="productos__img">
                        <div class="productos__info">
                            <p class="productos__descripcion"> AC/DC </p>
                            <p class="productos__precio"> $5.000 </p>     
                        </div>
                </article>
    
                <article class="productos__articulo">
                    <img src="/imagenes/Vinilo4.png" class="productos__img">
                        <div class="productos__info">
                            <p class="productos__descripcion"> INXS </p>
                            <p class="productos__precio"> $5.000 </p>     
                        </div>
                </article>
    
                <article class="productos__articulo">
                    <img src="/imagenes/Vinilo1.png" class="productos__img">
                        <div class="productos__info">
                            <p class="productos__descripcion"> Bernie Taupin </p>
                            <p class="productos__precio"> $5.000 </p>     
                        </div>
                </article>
    
                <article class="productos__articulo">
                    <img src="/imagenes/Vinilo2.png" class="productos__img">
                        <div class="productos__info">
                            <p class="productos__descripcion"> Thin Lizzy </p>
                            <p class="productos__precio"> $5.000 </p>     
                        </div>
                </article>
                
            </section>
    
    
            <section class="productos__section-boton">
                <form action="/" method="post">
                    <div class="productos__botonPadre">
                        <button class="productos__boton" type="submit" value="Ver Mas Productos"> Ver Mas Productos </button>
                    </div>
                  </form>
            </section>
            
    
        </main>
    
        
    
        <footer class="footer">
            <div class="navbar-footer">
                <nav>
                    <ul class="link-footer">
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </div>
            <div class="redes-sociales">
                <h2>Nuestras Redes</h2>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
    
    
    
        </footer>
    </div>
</body>
</html>
