<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
    <head>
</head>

<body>
  <div class="contenedor-login">
      <h1>Login</h1>
        <form>
          <input type="texto" placeholder="Usuario">
          <input type="password" id="contraseña" placeholder="Contraseña">
          <input type="ingresar" value="Ingresar">
          <a href="#" class="olvidaste-contraseña">¿Olvidaste tu contraseña?</a>
        </form>
      </div>
</body>
</html>