
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/grupo_3_DH-Records/public/css/productos-destacados.css">
</head>
<body>

    <main>

        <h2> Más Vendidos</h2>

        <section class="productos__seccion">

            <article class="productos__articulo">
                <img src="/grupo_3_DH-Records/design/Vinilo1.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> Poul Weller </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </article>

            <article class="productos__articulo">
                <img src="/grupo_3_DH-Records/design/Vinilo2.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> Poul Keane </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </article>

            <article class="productos__articulo">
                <img src="/grupo_3_DH-Records/design/Vinilo3.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> AC/DC </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </article>

            <article class="productos__articulo">
                <img src="/grupo_3_DH-Records/design/Vinilo4.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> INXS </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </article>

            <article class="productos__articulo">
                <img src="/grupo_3_DH-Records/design/Vinilo1.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> Bernie Taupin </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </article>

            <article class="productos__articulo">
                <img src="/grupo_3_DH-Records/design/Vinilo2.png" class="productos__img">
                    <div class="productos__info">
                        <p class="productos__descripcion"> Thin Lizzy </p>
                        <p class="productos__precio"> $5.000 </p>     
                    </div>
            </article>

            


        </section>



    </main>

















</body>
</html>