

.banner{
    display:flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    width: 1200px;
    height: 430px;
}

.banner__img{
    width: 0px;
    flex-grow: 1; 
    object-fit: cover; /* para que no se deforme la foto y ocupe en su lugar todo el espacio */
    opacity: .8;
    transition: .7s ;
}


.banner__img:hover{
    cursor: pointer;
    width: 100%;
    opacity: 1;
    filter: contrast(120%);
}
