
/*               Footer              */
*{
    box-sizing: border-box;
}

.footer{
    display: flex;
    flex-direction: column;
    text-align:left;
    color: #FFF;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    width: 90%;
    background: linear-gradient(to right, #C1C1C1, #f4f3f2); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding-top: 0;
   
}

.top-footer {
    display: flex;
    flex-direction: row;
}

.navbar-footer{
    width: 50%;
}

.link-footer li a{
    font-size: 20px;
    padding: 0;
}

.navbar-footer ul{
    padding: 0;
}

.navbar-footer li{
    list-style-type: none;
    margin-bottom: 5px;
}

.link-footer a{
    color:#FFF;
    margin: 0 0 0 10px;  
}    


.redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top:10px;
}

.tittle-footer{
    width: 100%; 
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: italic;
}


.social-icons {
    display: flex;
    justify-content: flex-start;
    width: 100%; 
    cursor: pointer;
}

.fa-square-facebook:hover{
    transform: translateY(-10px);
}

.fa-x-twitter:hover{
    transform: translateY(-10px);
}

.fa-whatsapp:hover{
    transform: translateY(-10px);
}

.redes-sociales h2{
    margin-top: 0;
}

.redes-sociales i{
    font-size: 27px;
    margin: 5px 5px;
}


.footer-enlaces{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.footer-enlaces p{
    color: #FFF;
}


.footer-enlaces-izq{
    margin: 0 0 0 10px;   
    padding: 0;
    width: 50%;
}

.footer-enlaces-derecha{
    display: flex;
    justify-content: flex-start;
    width: 50%; 
    gap: 20px;  
    
}

.separator{
    border-bottom: 1px solid #FFF;
    width: 100%;
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {

    .tittle-footer{ 
        font-size: 20px;
      
    }

    .redes-sociales i{
        font-size: 22px;
        margin: 5px 5px;
    }
   
    .footer-enlaces{
        font-size: 9px;
    }

    
.social-icons {
   
    justify-content: center;
 
}

.tittle-footer{
    text-align: center;
}

}