/* COLORES */
:root {
    --FUCSIA: #720455;
    --VIOLETA-OSCURO: #3C0753;
    --GRIS: #CCC;
    --BLANCO: #FFF;
    --NEGRO: #000;
}

* {
    box-sizing: border-box;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

.contenedor-general-tarjeta {
    background: linear-gradient(to right, #3c3c38, #be3431); 
    padding: 12px; /* con valor fijo en px o 10% */ 
    border-radius: 6px; /* con valor fijo en px o 5% */ 
    box-shadow: 0 0 15px var(--VIOLETA-OSCURO);
    text-align: center;
    color: var(--BLANCO);
    font-size: 12px;
}

.input-general {
    padding: 12px; /* con valor fijo en px o 10% */ 
    border: 1px solid var(--GRIS);
    border-radius: 12px;
    font-size: 12px;
}

.boton-general {
    background-color: var(--NEGRO);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--BLANCO);
    border-radius: 12px;
    font-size: 12px;
    padding: 10px;
    margin: 5px;
}



.header {
    display: flex;
    border-radius: 0;
} 

.header__contenedor-img-logo {
    border-radius: 20px; 
    padding: 10px;
}

.header__img-logo {
    width: 80px;
    height: auto;
    margin: 0px;
    border-radius: 10px;
}

.header__navbar {
    background: linear-gradient(to right, #3c3c38, #a91a2c); 
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    border-radius: 15px;
    

}

.header__barra-superior {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.barra-superior__sec-buscar-productos {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    border-radius: 5px;
}

.sec-buscar-productos__input {
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 80%;
    padding: 5px;
}

.top-bar__sec-buscar-productos__btn-buscar {
    background-color: var(--BLANCO);
    border-style: none;
    border-left: 1px solid var(--NEGRO);
    color: var(--NEGRO);
    padding: 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 20%
}

.barra-superior__sec-login {
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
}

.header__burger-menu {
    background-color: var(--NEGRO);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--BLANCO);
    border-radius: 12px;
    font-size: 12px;
    padding: 10px;
    margin: 5px;
}

.header__sec-lista-opciones {
    list-style-type: none;
    padding: 0px;
    display: none;
    justify-content: start;
    margin: 0px;
}

.header__sec-lista-opciones__link {
    text-decoration: none;
    color: var(--BLANCO);
}

@media screen and (min-width: 461px) {
    /* Estilos específicos para pantallas mayores a 360px */
    .header__burger-menu {
        display: none;
    }

    .barra-superior__sec-login {
        display: flex;
    }

    .header__sec-lista-opciones {
        display: flex;
    }
}