
/* COLORES */
:root {
    --FUCSIA: #720455;
    --VIOLETA-OSCURO: #3C0753;
    --GRIS:  #F5F5F5;
    --BLANCO: #FFF;
    --NEGRO: rgba(0, 0, 0, 0.6);
    --GRIS-OSCURO: #282828;
}

* {
    box-sizing: border-box;
}

.contenedor-general-home {
    margin: 0 auto;
    max-width: 1200px;
    background: linear-gradient(to right, #858986, #b3b2b8); 
}

.contenedor-general-tarjeta {
    background: linear-gradient(to right, #3c3c38, #be3431); 
    padding: 12px; /* con valor fijo en px o 10% */ 
    border-radius: 6px; /* con valor fijo en px o 5% */ 
    box-shadow: 0 0 15px var(--VIOLETA-OSCURO);
    text-align: center;
    color: var(--BLANCO);
    font-size: 12px;
}

.input-general {
    padding: 12px; /* con valor fijo en px o 10% */ 
    border: 1px solid var(--GRIS);
    border-radius: 12px;
    font-size: 12px;
}

.boton-general {
    background-color: var(--NEGRO);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--BLANCO);
    border-radius: 12px;
    font-size: 12px;
    padding: 10px;
    margin: 5px;
}

.titulo-seccion-general{
    font-size: 30px;
    margin: 30px 0px;
    text-align: center;
    color: white;
}

.main{
    max-width: 1200px;
    margin: auto;
    background-color: var(--GRIS-OSCURO);
}
.main__articulo {
    margin-bottom: 10px;
}


/* banner-promociones */
.banner {
    display:flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    height: 250px;
    margin-bottom: 20px;
}

.banner__img {
    width: 0px;
    flex-grow: 1; 
    object-fit: cover; /* para que no se deforme la foto y ocupe en su lugar todo el espacio */
    opacity: .8;
    transition: .7s ;
}

.banner__img:hover {
    cursor: pointer;
    width: 100%;
    opacity: 1;
    filter: contrast(120%);
}

/* productos-destacados */
.productos__seccion {
    display: flex;
    justify-content: center;
    flex-direction: column;  
}

.productos__articulo {
    background: linear-gradient(to right, #3c3c38, #ff614d);
    width: calc(80% - 20px);  /* si no fuera 80% no se podria repartir el espacio libre con el margin ya que ocuparioa todo el contenedor al 100% */
    margin: 0 auto 20px auto; 
    padding: 15px; /* con valor fijo en px o 10% */
    border-radius: 6px; /* con valor fijo en px o 5% */
    box-shadow: 0 0 15px var(--VIOLETA-OSCURO);
    color: var(--NEGRO);
    Background-color: var(--GRIS);

}

.productos__descripcion{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--BLANCO)
}

.productos__precio{
    font-size: 17px;
    color: var(--BLANCO)
}


.productos__img {
    width: 100%;
    margin: auto;
    transition: transform 2s;
}
  
.productos__img:hover {
    transform: scale(0.8) rotate(360deg);
}

.productos__section-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin-bottom: 20px;
}

.productos__boton{
    padding: 12px;
    border-radius: 5px;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {      /*    Tablet    */
    /* banner-promociones */
    .banner{
      display:flex;
      justify-content: center;
      width: 100%;
      margin: auto;
      height: 300px;
      margin-bottom: 20px;
  }

  h2{
      font-size: 25px;
      margin: 30px 0px;
      text-align: center;
      color: white;
  }

  /* productos-destacados */

  .productos__seccion{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }

  .productos__articulo{
      flex-basis: calc(40% - 20px); 
      margin: 0 auto 20px auto; 
      padding: 15px; /* con valor fijo en px o 10% */
      border-radius: 6px; /* con valor fijo en px o 5% */
      box-shadow: 0 0 15px var(--VIOLETA-OSCURO);
      color: var(--NEGRO);
      Background-color: var(--GRIS);
  }


}

@media screen and (min-width: 1024px) {    /*    Desktop   */
    /* banner-promociones */
    .banner{
      display:flex;
      justify-content: center;
      width: 100%;
      margin: auto;
      height: 500px;
      margin-bottom: 20px;
  }

  h2{
      font-size: 25px;
      margin: 30px 0px;
      text-align: center;
      color: white;
  }

  /* productos-destacados */

  .productos__seccion{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }

  .productos__articulo{
      flex-basis: calc(33% - 20px); 
      margin: 0 auto 20px auto; 
      padding: 15px; /* con valor fijo en px o 10% */
      border-radius: 6px; /* con valor fijo en px o 5% */
      box-shadow: 0 0 15px var(--VIOLETA-OSCURO);
      color: var(--NEGRO);
      Background-color: var(--GRIS);
  }

}
