
/* ------------------------------------- Main ------------------------------------- */
.main{
    max-width: 1200px;
    margin: auto;
    background-color: var(--GRIS-OSCURO);
}
.main__articulo {
    margin-bottom: 10px;
}


/* ------------------------------------- Banner Promociones ------------------------------------- */





/* ------------------------------------- Productos destacados ------------------------------------- */
.productos__seccion {
    display: flex;
    justify-content: center;
    flex-direction: column;  
}

.productos__articulo {
    background: linear-gradient(to right, #3c3c38, #ff614d);
    width: calc(80% - 20px);  /* si no fuera 80% no se podria repartir el espacio libre con el margin ya que ocuparioa todo el contenedor al 100% */
    margin: 0 auto 20px auto; 
    padding: 15px; /* con valor fijo en px o 10% */
    border-radius: 6px; /* con valor fijo en px o 5% */
    box-shadow: 0 0 15px var(--VIOLETA-OSCURO);
    color: var(--NEGRO);
    Background-color: var(--GRIS);
}

.productos__descripcion{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--BLANCO)
}

.productos__precio{
    font-size: 17px;
    color: var(--BLANCO)
}

.productos__img {
    width: 100%;
    margin: auto;
    transition: transform 2s;
}
  
.productos__img:hover {
    transform: scale(0.8) rotate(360deg);
}

.productos__section-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin-bottom: 20px;
}

.productos__boton{
    padding: 12px;
    border-radius: 5px;
}

/* ------------------------------------- Medias Querys ------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {      /*    Tablet    */
    
    

    .titulo-seccion-general {
        font-size: 25px;
        margin: 30px 0px;
        text-align: center;
        color: white;
    }

    /* productos-destacados */
    .productos__seccion {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .productos__articulo {
        flex-basis: calc(40% - 20px); 
        margin: 0 auto 20px auto; 
        padding: 15px; /* con valor fijo en px o 10% */
        border-radius: 6px; /* con valor fijo en px o 5% */
        box-shadow: 0 0 15px var(--VIOLETA-OSCURO);
        color: var(--NEGRO);
        Background-color: var(--GRIS);
    }
}

@media screen and (min-width: 1024px) {    /*    Desktop   */
    

    .titulo-seccion-general{
        font-size: 25px;
        margin: 30px 0px;
        text-align: center;
        color: white;
    }

    /* productos-destacados */
    .productos__seccion{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .productos__articulo{
        flex-basis: calc(33% - 20px); 
        margin: 0 auto 20px auto; 
        padding: 15px; /* con valor fijo en px o 10% */
        border-radius: 6px; /* con valor fijo en px o 5% */
        box-shadow: 0 0 15px var(--VIOLETA-OSCURO);
        color: var(--NEGRO);
        Background-color: var(--GRIS);
    }
}
