:root {
    --FUCSIA: #720455;
    --VIOLETA-OSCURO: #3C0753;
    --GRIS:  #F5F5F5;
    --BLANCO: #FFF;
    --NEGRO: rgba(0, 0, 0, 0.6);
}


* {
    box-sizing: border-box;
}

body{
    Background-color: var(--GRIS-OSCURO);
    max-width: 1200px;
    margin: auto;
}