body {
  font-family: 2rem; 
  color: white;
  background-color: #f0f0f0; 
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("/fondo.jpg");
  background-size: cover; 
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-login {
  background-color: #720455; 
  padding: 30px;
  border-radius: 15px; 
  box-shadow: 0 0 30px #3C0753;
  max-width: 300px; 
  text-align: center; 
  margin: auto; 
}

.contenedor-login h2 {
  margin-bottom: 10px;
}

input[type="texto"],
input[type="password"],
input[type="ingresar"] 
{
  width: calc(100% - 20px); 
  padding: 12px; 
  margin: 25px auto; 
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  display: block;
  font-size: 12px; 
}

input[type="ingresar"] {
  background-color: #000000; 
  border: none;
  color: #ffffff; 
  cursor: pointer;
  text-align: center;
  font-size: 16px; 
}

input[type="ingresar"]:hover {
  background-color: #000000; 
}

.olvidaste-contraseña {
  color: #ffffff; 
  text-decoration: none; 
  display: block; 
  margin-top: 10px; 
}

