/* COLORES */
:root {
    --FUCSIA: #720455;
    --VIOLETA-OSCURO: #3C0753;
    --GRIS:  #F5F5F5;
    --BLANCO: #FFF;
    --NEGRO: #101010;
    --GRIS-OSCURO: #282828;
}

* {
    box-sizing: border-box;
}

body{
    background-image: url("/images/users/Foto58.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor{
    background:  rgba(249, 247, 247, 0.3);;
    border-radius: 60px;

    height: 100vh;
    width: 90vw;
    margin:30px auto auto auto;
    padding: 20px 20px 10px 20px;
   
}

.perfil{
    display: flex;
    flex-direction: row;
   align-items: flex-start;
  
    margin:auto;
    background: white;
    
    box-shadow: 0 0 10px white;

    border-radius: 60px;

    width: calc(100% - 10px); 
    height: calc(100% - 10px); 
}

.perfil__imagen{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color:black;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.perfil__img{
    width: 200px;
    margin: auto;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.perfil__imagen--email{
    font-size: 16px;
    margin-top: 10px;
}
.perfil__imagen--formulario{
    margin-top: 10px;
}

.perfil__info{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 70%;
}

                           
.boton__upload{
    margin-top: 15px;
}


/* Section User */


.perfil__info--user{
    display: flex;
    flex-direction: column;
    width: 80%;   
    margin-top: 20px;
}


.grupo__info--user {
    display: flex;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px #f7f7f7;

    margin: 10px auto;
    
}

.grupo__info p{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    padding-right: 15px;
    margin: auto;
}


.titulo__info{
    text-align: start;
    font-size: 18px;
    margin-bottom: 5px;
}


/* Section Compras */

.perfil__info--compras{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}

.grupo__info--compras{
    display: flex;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px #f7f7f7;

    margin: 10px auto;
    
}



.titulo__compras{
    text-align: start;
    font-size: 18px;
    margin-bottom: 5px;
}




.datos__compras p{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 15px;
    margin: auto;
}



/*Section Seguridad */

.perfil__info--seguridad{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}

.grupo__info--seguridad{
    display: flex;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px #f7f7f7;

    margin: 10px auto;
    
}

.grupo__seguridad p{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    padding-right: 15px;
    margin: auto;
}

.datos__seguridad p{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 15px;
    margin: auto;
}

.titulo__seguridad{
    text-align: start;
    font-size: 18px;
    margin-bottom: 5px;
}


/* Texto */




p{
    color: black;
 
  
}

h2{
    font-size: 25px;
    margin: 10px 0px;
    text-align: center;
    color:black;
}

h3{
    font-size: 20px;
    text-align: center;
    color:black;
}











