/* COLORES */
:root {
    --FUCSIA: #720455;
    --VIOLETA-OSCURO: #3C0753;
    --GRIS:  #F5F5F5;
    --BLANCO: #FFF;
    --NEGRO: #101010;
    --GRIS-OSCURO: #282828;
}

* {
    box-sizing: border-box;
}

body{
    background-image: url("/images/users/Foto61.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


.contenedor{
    background:  rgba(249, 247, 247, 0.3);;
    border-radius: 60px;
    width: 85vw;
    margin:30px auto auto auto;
    padding: 20px 20px 20px 20px;
}

.perfil{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    background: white;
    box-shadow: 0 0 10px white;
    border-radius: 60px;
}

.formulario__input{
    width: 90%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #828080;
    border-radius: 4px;
    box-sizing: border-box;
}

.perfil__imagen{
    display: flex;
    flex-direction: column;
    align-items:center;
    
    color:black;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.perfil__img{
    width: 200px;
    margin: auto;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.perfil__imagen--nombre {
   margin-top: 20px;
}

.boton-admin{
    margin-top: 10px;
}

.perfil__imagen--email{
    font-size: 16px;
    margin-top: 10px;
}
.perfil__imagen--formulario{
    margin-top: 10px;
}

.perfil__info{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 80%;

}

                           

/* Section User */


.perfil__info--user{
    display: flex;
    flex-direction: column;
    width: 80%;   
    margin-top: 20px;
}


.grupo__info--user {
    display: flex;
   
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px #f7f7f7;

    margin: 10px auto;
    
}

.grupo__info p{
    padding-top: 5px;
    padding-bottom: 5px;
    margin:auto;
    
}


.titulo__info{
    text-align: start;
    font-size: 18px;
    margin-bottom: 5px;
}



p{
    color: black;
 
}

h2{
    font-size: 25px;
    margin: 10px 0px;
  
    color:black;
}

h3{
    font-size: 20px;
    color:black;
}

.boton__upload{
    margin-top: 5px;
}



@media screen and (max-width: 768px) {
 
    .perfil {
        flex-direction: column;
        align-items: center;
        height: auto; 
        overflow-y: auto; /* Permite el desplazamiento vertical si el contenido supera la altura máxima */
    }

    .perfil__imagen{
        margin-left: 10px;
    }
  
    .perfil__info--user{
        width: 100%; 
       
    }

    .perfil__info--compras{
        width: 100%
       
    }

    .perfil__info--seguridad{
        width: 100%
       
    }


    .grupo__info--user {
        flex-direction: column;
    }

    .grupo__info p{
        text-align: center;
        padding-right: 0;
    }

    .titulo__info{
        font-size: 16px;
    }


    

}




