:root {
    --FUCSIA: #720455;
    --VIOLETA-OSCURO: #3C0753;
    --GRIS:  #F5F5F5;
    --BLANCO: #FFF;
    --NEGRO: #000;
}

.producto{
    box-sizing: border-box;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 50px;
    flex-wrap: wrap;
}

.viniloimg1 img{
    width: 70%;
    height: auto;
}

.fa-star{
    color: var(--VIOLETA-OSCURO);
}

.fa-cart-shopping{
    color: var(--BLANCO);
}

.agregarcarrito{
    background-color: var(--FUCSIA);
    color: var(--BLANCO);
    text-align: center;
    padding: 0.7rem;
}

.sugerencias{
    box-sizing: border-box;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
    margin: auto;
}

.sugerenciastitulo{
    align-items: center;
    width: 80vw;
}

.viniloimg2 img{
    width: 30%;
    height: auto;
}

@media (768px <= width <= 1024px){
    .producto{
        justify-content: space-around;
    }
    .canciones{
        transform: translate(-10px);
    }
    .viniloimg2{
        flex-wrap: nowrap;
        justify-content: space-around;
    }
} 

@media(min-width:1025px){
    .viniloimg1{
        width: 45%;
    }
    .vinilo{
        width: 40%;
        transform: translate(0px, -90px);
    }
    .precio{
        width: 30%;
        transform: translate(100px, -150px);
    }
    .canciones{
        width: 30%;
        transform: translate(-70px);
    }    
    .sugerencias{
        width: 90%;
    }
    .sugerenciastitulo{
        transform: translate(-350px);
    }
    .viniloimg2{
        flex-wrap: nowrap;
        width: 30%;
        padding: 1px;
    }
}