
:root {
    --BLANCO: #FFF;
    --MANTECA-FONDO: #f8f9fa;
    --GRIS-CLARO:  #F5F5F5;
    --GRIS-INPUT: #bcbcbc;
    --GRIS-OSCURO: #333;
    --NEGRO: #202020;
    --NEGRO08: rgba(0, 0, 0, 0.8);
    --VIOLETA-SOMBRA: #662482;
    --VIOLETA-OSCURO: #3C0753;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.contenedor-general{
    width: 100%; 
    margin: 0;
    padding: 10px;
    background-color: var(--MANTECA-FONDO);
}

/*------------------------------------------------------*/
.contenedor-general-secciones {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-wrap: wrap;
}

.filters-bar__contenedor-general {
    max-width: 250px;
    min-width: 200px;
    margin: 10px 16px;
    padding: 16px;
    background-color: var(--GRIS-CLARO); 
    border-radius: 6px;
    box-shadow: 0 0 5px var(--VIOLETA-SOMBRA);
}

.producto__contenedor-general{
    max-width: 750px;
    margin: 10px 16px;
    padding: 16px;
    background-color: var(--GRIS-CLARO); 
    border-radius: 6px;
    box-shadow: 0 0 5px var(--VIOLETA-SOMBRA);    
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start;
    flex-wrap: wrap;
}

/*------------------------------------------------------*/
.hidden {
    display: none;
}

.visible {
    display: block;
}

