:root {
    --BLANCO: #FFF;
    --MANTECA-FONDO: #f8f9fa;
    --GRIS-CLARO:  #F5F5F5;
    --GRIS-INPUT: #bcbcbc;
    --GRIS-OSCURO: #333;
    --NEGRO: #202020;
    --NEGRO08: rgba(0, 0, 0, 0.8);
    --VIOLETA-SOMBRA: #662482;
    --VIOLETA-OSCURO: #3C0753;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.contenedor-general{
    width: 100%; 
    margin: 0;
    padding: 10px;
    background-color: var(--MANTECA-FONDO);
}

/*------------------------------------------------------*/
.producto__titulo-principal{
    margin: 26px 16px 10px 16px;
    font-size: 26px;
    color: var(--GRIS-OSCURO);
}

.producto__contenedor-general{
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-wrap: wrap;
}

.producto__contenedor-img {
    width: 100%;
    min-width: 100px;
    max-width: 300px;
    margin: 16px 16px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--GRIS-CLARO); 
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 0 5px var(--VIOLETA-SOMBRA);
}
.producto__img {
    width: 100%;
}

.producto__contenedor-info {
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    margin: 10px 16px;
    padding: 16px;
    background-color: var(--GRIS-CLARO); 
    border-radius: 6px;
    box-shadow: 0 0 5px var(--VIOLETA-SOMBRA);
}
.producto__contenedor-info--img {
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    max-height: 500px;
    margin: 10px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--GRIS-CLARO); 
    border-radius: 6px;
    box-shadow: 0 0 5px var(--VIOLETA-SOMBRA);
}

.producto__info-item {
    margin-bottom: 5px;
    color: var(--GRIS-OSCURO);
}
.producto__info-item--descripcion{
    max-height: 100px;
    margin-bottom: 10px;
    color: var(--GRIS-OSCURO);
    overflow: scroll;
}

.producto__field--contenedor-precio {
    margin-top: 26px;
    margin-bottom: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.producto__field--contenedor-btn {
    display: flex;
    justify-content: center;
    align-items: center; 
}



.producto__button {
  
    color: white;
    background: black;
    border: 2px solid var(--GRIS-OSCURO); 
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 var(--GRIS-OSCURO); /* inset = sombra interna */
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    opacity: 0.9;
    
  
    width: 140px; 
    height: 50px; 
  
    cursor: pointer;
    transition: ease-out 0.5s;
  }

  .producto__button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #499749;
    border: 2px solid white;
    font-size: 12px;
  }


.fa-star{
    color: #FFBA18;
}


/*------------------------------------------------------*/
.referidos__contenedor-general {
    max-width: 100%;
    max-height: 400px;
    margin: 10px 16px;
    padding: 16px;
    background-color: var(--GRIS-CLARO); 
    border-radius: 6px;
    box-shadow: 0 0 5px var(--VIOLETA-SOMBRA);
    overflow: scroll;
}

.referidos__titulo-principal {
    margin-bottom: 5px;
    color: var(--GRIS-OSCURO);
}

.referidos__contenedor-tarjeta-producto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

}


/*------------------------------------------------------*/
.hidden {
    display: none;
}

.visible {
    display: block;
}



