
:root {
    --BLANCO: #FFF;
    --MANTECA-FONDO: #f8f9fa;
    --GRIS-CLARO:  #F5F5F5;
    --GRIS-INPUT: #bcbcbc;
    --GRIS-OSCURO: #333;
    --NEGRO: #202020;
    --NEGRO08: rgba(0, 0, 0, 0.8);
    --VIOLETA-SOMBRA: #662482;
    --VIOLETA-OSCURO: #3C0753;
}

* {
    box-sizing: border-box;   
}


.contenedor-general{
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 10px;
    background-color: var(--MANTECA-FONDO);
   
}

/*------------------------------------------------------*/
.contenedor-general-secciones {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start; 
    
}

@media (max-width: 768px) {
    .contenedor-general-secciones {
        flex-wrap: wrap;
        justify-content: center; 
    }
}


.filters-bar__contenedor-general {
    max-width: 250px;
    min-width: 200px;
    margin: 10px 16px;
    padding: 16px;
    background-color: var(--GRIS-CLARO); 
    border-radius: 6px;
    box-shadow: 0 0 5px var(--VIOLETA-SOMBRA);
    font-family: Arial, sans-serif;
}

.producto__contenedor-general{
    max-width: auto;
    margin: 10px 16px;
    padding: 16px;
    background-color: var(--GRIS-CLARO); 
    border-radius: 6px;
    box-shadow: 0 0 5px var(--VIOLETA-SOMBRA);    
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start;
    flex-wrap: wrap;
   
}

.producto__field--contenedor-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.producto__button {
    margin: 5px;
    background-color: var(--NEGRO08);
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px var(--VIOLETA-SOMBRA);
    padding: 10px 20px;
    color: var(--BLANCO);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.producto__button:hover {
    background-color: var(--VIOLETA-SOMBRA);
}
.producto__button:active {
    transform: translateY(1px);
}

/*------------------------------------------------------*/
.hidden {
    display: none;
}

.visible {
    display: block;
}


