:root {
    --FUCSIA: #720455;
    --FUCSIA-CLARO: #c3028f;
    --VIOLETA-OSCURO: #3C0753;
    --GRIS:  #F5F5F5;
    --BLANCO: #FFF;
    --NEGRO: #000;
    --GRIS-OSCURO: #282828;
    --NEGRO-Claro: rgba(0, 0, 0, 0.6);
}

* {
    box-sizing: border-box;
    font-size: 12px;
    margin: 5px;
    padding: 5px;
}

body{
    Background-color: var(--GRIS-OSCURO);
    max-width: 1200px;
    margin: auto;
    background-image: url("/imagenes/Foto41.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}

main{
    width: 100%;  
}

.titulo_principal{
    font-size: 27px;
    color: var(--NEGRO);
    text-decoration: underline;
    text-underline-offset: 3px;  
}

p{
    color: var(--GRIS);
    padding-top: 5px;
    padding-bottom: 5px;  
}

h4{
    font-size: 22px;
    text-align: left;
    color: var(--BLANCO);
    text-decoration: underline;
    text-underline-offset: 3px;  /* bajar subrallado */
}

.titulo__canciones{
    color:var(--NEGRO);
}

.producto{
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
 
}

.vinilo{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    margin-top: 20px;
}

.vinilo p{
    text-align: left;
    font-size: 16px;
}

.vinilo__img1 img{
    width: 75%;
    height: auto;
    display: flex; 
    justify-content: flex-start;
    transition: transform 2s;
}

.vinilo__img1 img:hover{
    transform: scale(0.8) rotate(360deg);
}

.canciones{
    display: flex; 
    flex-direction: column;
    padding-left: 15px;
    padding-right: 13px;
}

.canciones li{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: auto;
}

.precio{
    display: flex; 
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    margin-top: 20px;
}

.precio p{
    padding-top: 5px;
    padding-bottom: 5px;
     text-align: left; 
}

.num__precio{
    font-size: 20px;
}

.fa-star{
    color: #FFBA18;
}

.fa-cart-shopping{
    color: var(--BLANCO);
    text-align: center;
}

.centrar-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    border-radius: 25px; 
}

.centrar-texto a{
    color: var(--BLANCO);
    font-size: 16px;
    transition: .8s;
}

.centrar-texto a:hover{
    font-size: 18px;
}

.sugerencias{
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
    margin: auto;
    
}

.sugerencias__titulo{
    align-items: center;
    width: 80vw;
    color: var(--NEGRO);
    text-decoration: underline;
    text-underline-offset: 3px; 
}

.sugerencias__titulo h3{
    font-size: 22px;
}

.vinilo__img2 img{
    width: 35%;
    height: auto;
}


@media (768px <= width <= 1024px){    /* Tablet */
    .producto{
        justify-content: space-around;
    }
    .canciones{
        transform: translate(-10px);
    }
    .vinilo__img2{
        flex-wrap: nowrap;
        justify-content: space-around;
    }
} 

@media(min-width:1025px){     /* Desktop */
    .titulo_principal{
        font-size: 30px;
    }
    .vinilo__img1{
        width: 45%;
    }
    .vinilo{
        width: 40%;
        transform: translate(0px, -90px);
    }
    .precio{
        width: 40%;
        transform: translate(80px, -130px);
    }
    .canciones{
        width: 30%;
        transform: translate(-70px);
    }    
    .sugerencias{
        width: 90%;
    }
    .sugerencias__titulo{
        transform: translate(-350px);
    }
    .vinilo__img2{
        flex-wrap: nowrap;
        width: 30%;
        padding: 1px;
        transition: 2s;
    }

    .vinilo__img2:hover{
        transform: scale(0.8) rotate(360deg);
    }
}