/* COLORES */
:root {
  --FUCSIA: #720455;
  --VIOLETA-OSCURO: #3C0753;
  --GRIS: #CCC;
  --BLANCO: #FFF;
  --NEGRO: #000;
}

* {
  box-sizing: border-box;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.contenedor-general-tarjeta {
  Background-color: var(--VIOLETA-OSCURO);
  padding: 12px; /* con valor fijo en px o 10% */ 
  border-radius: 6px; /* con valor fijo en px o 5% */ 
  box-shadow: 0 0 15px var(--VIOLETA-OSCURO);
  text-align: center;
  color: var(--BLANCO);
  font-size: 12px;
}

.input-general {
  padding: 12px; /* con valor fijo en px o 10% */ 
  border: 1px solid var(--GRIS);
  border-radius: 12px;
  font-size: 12px;
}

.boton-general {
  background-color: var(--NEGRO);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--BLANCO);
  border-radius: 12px;
  font-size: 12px;
  padding: 10px;
  margin: 5px;
}



/*las cosas aparecen en el mismo orden que en el html*/

header{
    background-color:  rgb(38, 39, 40);
    
}
header img {
    max-width: 10%; 
    max-height: 10%; 
    height: auto; 
    
  }
body{
    background-color:grey;
}



/*probablemente haya que editar este*/
#boton-volver{
    position: absolute;
    left: 5px;
    height: 40px;
    width: 105px;
    font-size: 22px;
  }



.el-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    max-width: 100%; 
    margin: auto; 
    font-size: 22px;
  }

  h2{
    text-align: center;
}


/*el div que contiene a la imagen y la imagen, la img se ajusta para ocupar el 100% del height sin deformarse*/

.div-imagen-de-perfilperfil {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 50%;
  }
  .imagen-de-perfil{
    border-radius: 50%;
  }


  /*.inputsafecta a los inputs como grupo,// .input-individual afecta a cada  input de forma individual,//
  .input-individual::placeholder solo afecta al texto que hay dentro de los input*/
  .inputs{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width:350px ;
    height: 50px;
    margin: 5px;
  }
  .input-individual{
    width:350px ;
    height: 50px;
    content: 360px 20px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
  }
  .input-individual::placeholder{
    font-size: 22px;
  }


  /*el boton final*/
  #boton-confirnar{
    display: block;
    margin: auto;
    font-size: 22px;
    border: 1px solid black;
  }


/*aqui deveria ir el #boton-volver*/
  @media screen and(min-width:361px) and (max-width:769px){

  }
  @media screen and (min-width:769px) and (max-width:1024px){

  }
  @media screen and (min-width:1024px){

  }