
body{
    background-image: url("/images/users/Foto61.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.users-card{
    width: 100%; 
    padding: 10px;
}


.users-card__contenedor{
    max-width: 750px;
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    box-shadow:  0 10px 20px rgba(0, 0, 0, 0.6);
    border: 1px solid #493c3a;   
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 10px;
}


.tarjeta-user{
    width: 150px;
    height: 220px;
    min-width: 150px;
    min-height: 250px;
    margin: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow:  0 10px 20px rgba(0, 0, 0, 0.6);
    border: 1px solid #493c3a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.tarjeta-user__info{
    margin: 0px 5px;
    padding: 5px; 
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.tarjeta-user__info--descripcion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 20px;
    width: 150px;
    height: 220px;
    min-width: 150px;
    min-height: 250px;
}

.tarjeta-user__info--titulo {
    margin: 0px;
    color: #333;
    display: inline-block;
}


.titulo{
    text-align: center;
}


.tarjeta-user__contenedor{
    width: 130px;
    height: 130px;
    min-width: 130px;
    min-height: 130px;
    margin: 5px 5px 10px 5px;
    padding: 5px; 
    overflow: hidden;
}

.tarjeta-user__contenedor-imagen{
    width: 100%;
}