<article class="productos__articulo">
    <img src="/imagenes/Vinilo1.png" class="productos__img">
        <div class="productos__info">
            <p class="productos__descripcion"> Poul Weller </p>
            <p class="productos__precio"> $5.000 </p>     
        </div>
</article>