<footer class="footer">
    <div class="navbar-footer">
        <nav>
            <ul class="link-footer">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </div>
    <div class="redes-sociales">
        <h2>Nuestras Redes</h2>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-whatsapp"></i>
    </div>



</footer>