<footer class="footer">
    <div class="navbar-footer">
        <nav>
            <ul class="link-footer">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </nav>
    </div>
    <div class="redes-sociales">
        <h2>Our Networks</h2>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-whatsapp"></i>
    </div>



</footer>