<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/headerBanner.css">
<style> @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');</style>
<style> @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');</style>
       

<header >
    
    <nav class="header__navbar">
        
        <div class="header__navbar__logo"> <a href="#"> DH-Records</a></div>
        
        <ul class="links">
            <li> <a href="/"> Home </a></li>
            <li> <a href="#destacados"> Popular </a></li>
            <li> <a href="/products"> Products </a></li>
            <% if(locals.isLogged) { %>
                <% if(locals.userLogged.categorias_id == 1) { %>
                <li> <a href="/users"> Users </a></li>
                <% } %>
            <% } %>
        </ul>

        <div class="barra-superior__sec-buscar-productos">
            <input type="text" placeholder="Buscar productos, marcas..." class="sec-buscar-productos__input">    
        </div>

        <div class="header__nabvar__user">      
            <input type="checkbox" id="checkbox">
            <label for="checkbox" class="hamburguesa">
                <div class="barra" id="bar1"></div>
                <div class="barra" id="bar2"></div>
                <div class="barra" id="bar3"></div>
            </label>
            
            <% if(locals.isLogged) { %>
                <a href="/users/<%= locals.userLogged.id %>" class="user__logIn"> 
                    Hola <%= locals.userLogged.nombreUsuario %>
                </a>
                <a href="/users/<%= locals.userLogged.id %>"class="user__logIn"> 
                    <div class="user__avatar">
                        <img src="Images/users/<%= locals.userLogged.imagenUsuario %>" alt="user-avatar">
                    </div>
                </a>
                <a href="/users/logout" class="user__singUp"> LogOut </a>
            <% }else{ %>
                <a href="/users/login" class="user__logIn"> Log in</a>
                <a href="/users/register" class="user__singUp"> Sing up </a>
            <% } %>
        </div>
    </nav>
    <div class="header-contenedor-general-tarjeta">
            <a href="/products/cart" class="button__banner">Buy Now</a>
    </div>
</header>

