<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/headerBanner.css">

<header class="header-contenedor-general-tarjeta">
    <nav class="header__navbar">
        <div class="header__navbar__logo"> <a href="#"> DH-Records</a></div>
        <ul class="links">
            <li> <a href="/"> Home </a></li>
            <li> <a href="#destacados"> Popular </a></li>
            <li> <a href="/products"> Products </a></li>
        </ul>
        <div class="header__nabvar__user">
            <a href="/users/login" class="user__logIn"> Log in</i></a>
            <a href="/users/register" class="user__singUp"> Sing up </a>
        </div>
    </nav>
</header>

