<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/headerBanner.css">

<header class="header-contenedor-general-tarjeta">
    <nav class="header__navbar">
        <div class="header__navbar__logo"> <a href="#"> DH-Records</a></div>
        
        <ul class="links">
            <li> <a href="/"> Home </a></li>
            <li> <a href="#destacados"> Popular </a></li>
            <li> <a href="/products"> Products </a></li>
        </ul>

        <div class="barra-superior__sec-buscar-productos">
            <input type="text" placeholder="Buscar productos, marcas..." class="sec-buscar-productos__input">    
        </div>

        <div class="header__nabvar__user">      
            <input type="checkbox" id="checkbox">
            <label for="checkbox" class="hamburguesa">
                <div class="barra" id="bar1"></div>
                <div class="barra" id="bar2"></div>
                <div class="barra" id="bar3"></div>
            </label>
    
            <a href="/users/login" class="user__logIn"> Log in</i></a>
            <a href="/users/register" class="user__singUp"> Sing up </a>
            <a href="/users/logout" class="user__logIn"> LogOut </a>
        </div>

    
    </nav>
</header>

