<head>
    <meta charset="UTF-8"> <!-- estándar de codificación de caracteres(página se muestre correctamente sin importar el idioma.) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DH Records</title>
    <link rel="icon" href="/Images/dh-records.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/css/general-styles.css">
    <link rel="stylesheet" href="/css/header.css">

