<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHRecords</title>
    <script src="https://kit.fontawesome.com/986ef756a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/perfil-usuario.css">
    <link href= "/grupo_3_DH-Records/public/css/home.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="seccion__perfil">
            <div class="contenedor__perfil">
                <img src="/images/Logo.jpg" alt="logo" class="perfil__img">
                <h2>Name and Surname</h2>
                <h3 class="subtitulo">email@email.com</h3>
            </div>
        </section>
        <section class="seccion__info">
            <h3 class="titulo__info">My information</h3>
            <div class="bloque__info">
                <div class="grupo__info">
                    <p>Name and Surname</p>
                    <p>E-Mail</p>
                    <p>DNI</p>
                    <p>Address</p>
                </div>
                <div class="datos__info">
                    <p>Name and Surname</p>
                    <p>email@email.com</p>
                    <p>12345678</p>
                    <p> Street 123</p>
                </div>
            </div>
        </section>
        <section class="seccion__compras">
            <h3 class="titulo__compras">Mis Compras</h3>
            <div class="bloque__compras">
                <div class="grupo__compras">
                    <p>Buy 1</p>
                    <p>State</p>
                    <p>Deliver date</p>
                    <p>Products</p>
                </div>
                <div class="datos__compras">
                    <p>N Articles</p>
                    <p>Delivered</p>
                    <p>Delivered on February 20</p>
                    <p>Disk 1, Disk 2...</p>
                </div>
            </div>
            <div class="bloque__compras">
                <div class="grupo__compras">
                    <p>Buy 2</p>
                    <p>State</p>
                    <p>Delivery date</p>
                    <p>Products</p>
                </div>
                <div class="datos__compras">
                    <p>N Articles</p>
                    <p>In travel</p>
                    <p>Arrives on February 29</p>
                    <p>Disck 1, Disck 2...</p>
                </div>
            </div>
        </section>
        <section class="seccion__seguridad">
            <h3 class="titulo__seguridad">Segcurity</h3>
            <div class="bloque__seguridad">
                <div class="grupo__seguridad">
                    <p>Change Password</p>
                    <p>Change E-Mail</p>
                    <p>Delete Account</p>
                </div>
                <div class="datos__seguridad">
                    <p>********</p>
                    <p>********</p>
                    <p>********</p>
                </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
