<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>

<body>
  <section class="contenedor-formulario">
        <form action="">
            <h1 class="titulo-formulario">DH-Records</h1>
            <div class= "contenedor-casilla">
                <input class="casilla-individal" type="text" name="usuario" id="usuario" placeholder="Username or email address" required>
                <i class='bx bxs-user'></i>
            </div>  

            <div class= "contenedor-casilla">
                <input class="casilla-individal" type="password" name="contraseña" id="contraseña" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div> 

            <div class= "recuperar-contraseña">
                <a href="#" class="olvidaste-contraseña">¿Forgot your password?</a>
            </div>    

            <button type="submit" class="boton-login">Log in</button>

            <div class= "link-registro">
                <p>Don't have an account? <a href="/users/register"> Sing up</a> </p>
            </div> 
             
             
        </form>
    </section>
</body>

      