<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHRecords</title>
    <script src="https://kit.fontawesome.com/986ef756a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/perfil-usuario.css">
    <link href= "/grupo_3_DH-Records/public/css/home.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header class="header contenedor-general-tarjeta">
        <div class="header__contenedor-img-logo">
            <img src="/imagenes/Logo.jpg" alt="logo" class="header__img-logo">
        </div>
        <nav class="header__navbar">
            <div class="header__barra-superior">
                <section class="barra-superior__sec-buscar-productos">
                    <input 
                        type="text" placeholder="Buscar productos, marcas..." 
                        class="sec-buscar-productos__input"
                    >
                    <button class="top-bar__sec-buscar-productos__btn-buscar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </section>

                <section class="barra-superior__sec-login">
                    <p class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Login </a></p>
                    <p class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Sing-up </a></p>
                </section>
                


            </div>
            <div class="header__barra-inferior">
                <div class="header__burger-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <ul class="header__sec-lista-opciones">
                    <li class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Ofertas </a></li>
                    <li class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Destacados </a></li>
                    <li class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Productos </a></li>      
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="seccion__perfil">
            <div class="contenedor__perfil">
                <img src="/imagenes/Logo.jpg" alt="logo" class="perfil__img">
                <h2>Nombre Apellido</h2>
                <h3 class="subtitulo">email@email.com</h3>
            </div>
        </section>
        <section class="seccion__info">
            <h3 class="titulo__info">Mi informacion</h3>
            <div class="bloque__info">
                <div class="grupo__info">
                    <p>Nombre y Apellido</p>
                    <p>E-Mail</p>
                    <p>DNI</p>
                    <p>Direccion</p>
                </div>
                <div class="datos__info">
                    <p>Nombre Apellido</p>
                    <p>email@email.com</p>
                    <p>12345678</p>
                    <p>Calle Falsa 123</p>
                </div>
            </div>
        </section>
        <section class="seccion__compras">
            <h3 class="titulo__compras">Mis Compras</h3>
            <div class="bloque__compras">
                <div class="grupo__compras">
                    <p>Compra 1</p>
                    <p>Estado</p>
                    <p>Fecha de entrega</p>
                    <p>Productos</p>
                </div>
                <div class="datos__compras">
                    <p>N Articulos</p>
                    <p>Entregado</p>
                    <p>Entregado el 20 de Febrero</p>
                    <p>Disco 1, Disco 2...</p>
                </div>
            </div>
            <div class="bloque__compras">
                <div class="grupo__compras">
                    <p>Compra 2</p>
                    <p>Estado</p>
                    <p>Fecha de entrega</p>
                    <p>Productos</p>
                </div>
                <div class="datos__compras">
                    <p>N Articulos</p>
                    <p>En Viaje</p>
                    <p>Llega el 29 de Febrero</p>
                    <p>Disco 1, Disco 2...</p>
                </div>
            </div>
        </section>
        <section class="seccion__seguridad">
            <h3 class="titulo__seguridad">Seguridad</h3>
            <div class="bloque__seguridad">
                <div class="grupo__seguridad">
                    <p>Cambiar contraseña</p>
                    <p>Cambiar E-Mail</p>
                    <p>Borrar Cuenta</p>
                </div>
                <div class="datos__seguridad">
                    <p>********</p>
                    <p>********</p>
                    <p>********</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="navbar-footer">
            <nav>
                <ul class="link-footer">
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
        </div>
        <div class="redes-sociales">
            <h2>Nuestras Redes</h2>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
    </footer>
</body>
