<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHRecords</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<!--cosas por defecto-->





<body>
    <header>
        <nav>
            <div class="header__contenedor-img-logo">
                <a href="/">
                    <img src="/imagenes/Logo.jpg" alt="logo" class="header__img-logo">
                </a>
            </div>
        </nav>
    </header>
    <main>

        <!-- este boton no es responsive, es (en teoria) lo unico que falta -->
        <div class="boton-volver">
            <button id="boton-volver"><a href="">volver</a></button>
        </div>       
            <section class="el-section">
                
                    <h2 class="h2-crear-cuenta">crear cuenta</h2>
                    
                 <!-- varios div para mas flexibilidad a la hora de acomodar el contenido -->
                    <div class="div-imagen-de-perfil">
                        
                        <!--foto de perfil, imagen de referencia sacada de google-->
                        <img src="https://picsum.photos/id/237/200/300" alt="" class="imagen-de-perfil">
                    </div>



                    <!--  todos los input tienen la clase "input-individual" -->
                   <div class="inputs" >

                    <section>
                        <input type="text" class="input-general" name="nombre" placeholder="usuario">
                    </section>
                    <section>
                        <input type="email" class="input-general" name="email" placeholder="Correo electrónico">
                    </section>
                    <section>
                        <input type="text" class="input-general" name="contraseña" placeholder="contraseña">
                    </section>
                    <section>
                        <!-- los button cuentan con un <a> link aunque no se si es util pero ahí esta -->
                        <button id="boton-confirnar" class="boton-general" onclick="alert('tu cuenta a sido creada')"><a href="">confirmar</a></button>
                    </section>

                        <p>¿ya tienes cuenta?<a href=""> conectate</a></p>
                    </div>


            </section>
    </main>
    <footer>
        <!--en espera para acoplarse-->
    </footer>
</body>
</html>