<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHRecords</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<!--cosas por defecto-->





<body>
    <header class="header contenedor-general-tarjeta">
        <!--<div class="header__contenedor-img-logo">-->
            <img src="/imagenes/Logo.jpg" alt="logo" class="header__img-logo">
        <!--</div>-->
        <nav class="header__navbar">
            <div class="header__barra-superior">
                <section class="barra-superior__sec-buscar-productos">
                    <input 
                        type="text" placeholder="Buscar productos, marcas..." 
                        class="sec-buscar-productos__input"
                    >
                    <button class="top-bar__sec-buscar-productos__btn-buscar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </section>
    
                <section class="barra-superior__sec-login">
                    <p class="boton-general"><a href="/products/carrito" class="header__sec-lista-opciones__link">Carrito </a></p>
                    <p class="boton-general"><a href="/users/login" class="header__sec-lista-opciones__link">Login </a></p>
                    <p class="boton-general"><a href="/users/register" class="header__sec-lista-opciones__link">Sing-up </a></p>
                </section>
            
    
    
            </div>
            <div class="header__barra-inferior">
                <div class="header__burger-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
    
                <ul class="header__sec-lista-opciones">
                    <li class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Ofertas </a></li>
                    <li class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Destacados </a></li>
                    <li class="boton-general"><a href="#" class="header__sec-lista-opciones__link">Productos </a></li>      
                </ul>
            </div>
        </nav>
    </header>
    

                
    <main>
        <!-- este boton no es responsive, es (en teoria) lo unico que falta -->
        <div class="boton-volver">
            <button id="boton-volver"><a href="">volver</a></button>
        </div>       
            <section class="el-section">
                
                    <h2 class="h2-crear-cuenta">crear cuenta</h2>
                    
                 <!-- varios div para mas flexibilidad a la hora de acomodar el contenido -->
                    <div class="div-imagen-de-perfil">
                        
                        <!--foto de perfil, imagen de referencia sacada de google-->
                        <img src="https://picsum.photos/id/237/200/300" alt="" class="imagen-de-perfil">
                    </div>



                    <!--  todos los input tienen la clase "input-individual" -->
                   <div class="inputs" >

                    <div>
                        <input type="text" class="input-general" name="nombre" placeholder="usuario">
                    </div>
                    <div>
                        <input type="email" class="input-general" name="email" placeholder="Correo electrónico">
                    </div>
                    <div>
                        <input type="text" class="input-general" name="contraseña" placeholder="contraseña">
                    </div>
                    <div>
                        <!-- los button cuentan con un <a> link aunque no se si es util pero ahí esta -->
                        <button id="boton-confirnar" class="boton-general" onclick="alert('tu cuenta a sido creada')"><a href="">confirmar</a></button>
                    </div>

                        <p>¿ya tienes cuenta?<a href=""> conectate</a></p>
                    </div>


            </section>
    </main>
    
        <!--en espera para acoplarse-->
        <footer class="footer">
            <div class="navbar-footer">
                <nav>
                    <ul class="link-footer">
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </div>
            <div class="redes-sociales">
                <h2>Nuestras Redes</h2>
                <i class="fa-brands fa-square-facebook">facebook</i>
                <i class="fa-brands fa-x-twitter">twitter</i>
                <i class="fa-brands fa-whatsapp">whatsapp</i>
            </div>
    
    
    
        </footer>
    
</body>
</html>