<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head-1.ejs') %> 
    <link rel="stylesheet" href="/css/perfil-usuario.css">
    <%- include('../partials/head-2.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section>
            <h1 class="titulo">Users Profile</h1>

           
            


        </section>
        
        
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
